# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed
# test run on  sunday at 1:05pm
5 13 13 11 *  ~/scripts/ass3.sh 2 
5 13 13 11 *  ~/scripts/clone.sh 2
# test run on monday 1:05 am
5 1 17  11 *  ~/scripts/ass3.sh 1
5 1 17  11 *  ~/scripts/ass3.sh 2 
15 1 17  11 *  ~/scripts/clone.sh 1 
15 1 17  11 *  ~/scripts/clone.sh 2 
